<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klein.mapper.UserMapper">

	<resultMap type="com.klein.entity.User" id="userResult">
		<id property="id" column="userid" jdbcType="INTEGER" />
		<result property="username" column="username" jdbcType="VARCHAR" />
		<result property="password" column="password" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addUser" parameterType="User">
		INSERT INTO T_USER(ID,
		USERNAME,
		PASSWORD) VALUES(AUTO_USERID.NEXTVAL, #{username},
		#{password})
	</insert>

	<update id="updateUser" parameterType="User">
		UPDATE T_USER SET
		USERNAME=#{username}, PASSWORD=#{password} WHERE USERID = #{id}
	</update>

	<select id="getUser" parameterType="User" resultMap="userResult">
		SELECT *
		FROM T_USER WHERE USERID=#{id}
	</select>

	<select id="getUserByName" parameterType="String" resultMap="userResult">
		SELECT * FROM T_USER WHERE USERNAME=#{username}
	</select>
</mapper>